* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/todo-lists.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
  padding-top: 93px;
  display: flex;
  flex-direction: column;
  animation: moveBackground 50s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #060606;
  }
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 3rem;
  background-color: beige;
  color: #060606;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #060606; /* Couleur du curseur */
  animation: typing 4s steps(40, end) 1s 1 normal both,
    blink-caret 0.75s step-end infinite;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.TodoForm {
  width: 38rem;
  margin-bottom: 1rem;
  position: fixed;
  padding: 0.5rem;
  background-color: #747d93; /* Bleu clair */
  border-radius: 10px;
  margin-top: 0.5rem;
}

.TodoList {
  margin-top: -0.75rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-left: 6rem;
  width: max-content;
}

.Todo-input {
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15rem;
  border-radius: 10px;
  background-color: #e3f2fd; /* Bleu très clair */
  margin-left: 0.5rem;
  color: #333; /* Gris foncé pour le texte */
}

.todo-button {
  padding: 0.5rem;
  width: 4rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  background-color: rgb(216, 232, 233);
  color: #090909;
  font-weight: bold;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  border-radius: 10px;
  color: #333;
  min-height: 3rem;
  max-height: max-content;
  background-color: #e3f2fd;
  max-width: 20rem;
  min-width: 15rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  cursor: pointer;
  overflow-wrap: break-word;
  max-width: 16rem;
}

.completed {
  text-decoration: line-through;
  cursor: pointer;
  overflow-wrap: break-word;
  max-width: 16rem;
}

.Todo-input::placeholder {
  color: #050505;
  font-weight: 300;
}

.SubContainer {
  border-radius: 10px;
  background-color: transparent;
}

.subOfSubContainer {
  padding-top: 0.1rem;
  display: flex;
  margin-top: 10rem;
}

.DivDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  background-color: #bbdefb; /* Bleu clair */
  border-radius: 10px;
  color: #333; /* Gris foncé pour le texte */
  width: max-content;
  height: 3rem;
  cursor: pointer;
}

.DivDate:hover {
  background-color: #90caf9; /* Bleu légèrement plus foncé au survol */
}

.DivDate:active {
  background-color: #64b5f6; /* Bleu moyen au clic */
  box-shadow: 0 5px #1e88e5; /* Ombre bleue pour le clic */
  transform: translateY(4px);
}

.PrinciplDateDiv {
  margin-left: 0.8rem;
}

.TodoForm {
  position: fixed;
}

:root {
  margin-left: 20rem;
  margin-top: 2rem;
  transform: translateX(-50%);
  position: relative;
  left: 30%;
}
